[2020-09-22 13:22] jaysoo opened #1 "Initial release"
The initial release will comprised of integration with core React Native features.

- [x] `nx bundle [app]` (offline bundle)
- [x]  `nx start [app]`  (start server)
- [x] `nx run-ios [app]`
- [x] `nx run-android [app]`
- [x] support for third-party native packages
- [x] support for workspace libs (JS/TS only)
- [x] jest support
- [ ] ~e2e test using detox~

[2020-10-29 19:51] nordfjord opened #4 "Allow use of expo rather than pure React Native"
Hi nrwl team!

I'm excited to see progress being made on a react-native plugin.

I'm wondering about the possibility of using [expo](https://expo.io/) rather than plain old react-native. The same way there are plugins for Next.js and react for nx.

[2020-10-30 02:12] goofiw commented on #4
I support going pure native, as it gives the most flexibility.  I'm looking forward to building some native modules in my workspace libs to keep all the code together

[2020-10-30 02:46] nordfjord commented on #4
@goofiw I think you misunderstood me.
I'm not advocating for removing pure react-native support.
I'm advocating for adding expo support.

In much the same way that there's a react plugin (nrwl/react) and a next.js plugin (nrwl/next) for web.

For people who prefer a batteries included approach to native development expo is a fantastic choice.

[2020-10-30 15:49] goofiw commented on #4
Maybe this is me not understanding the plugins ecosystem very well, but I would think the react and next plugins are separated for a reason.  Adding expo support may belong in its own, separate plugin.

[2020-10-30 19:45] nordfjord commented on #4
@jaysoo Sounds reasonable. Thank you. My guess is much of the code would be shared.

I'll close this issue, since this isn't a priority.

[2020-10-30 19:45] #4 closed

[2020-10-30 23:55] 0b3r commented on #1
Looking forward to this release! Going to use it the second it's ready! Thanks to all of you for doing this awesome stuff.

[2020-10-31 00:05] trumbitta commented on #1
I'm so ready to use this :D

[2020-10-31 03:28] nclarx commented on #1
Agree, this will be great!!

[2020-11-01 09:11] moQuez commented on #1
🚀

[2020-11-04 11:07] itsezc commented on #1
Looking forward to this!

[2020-11-04 23:35] alveshelio opened #5 "Package unavailable"
when trying to install the package with either npm i -D @nrwl/react-native or yarn add -D @nrwl/react-native I get

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@nrwl%2freact-native - Not found

this: https://registry.npmjs.org/@nrwl/react-native returns an object `{ "error": "Not found" }`

[2020-11-05 03:40] 0b3r commented on #5
It hasn't been released yet! See #1

[2020-11-06 11:41] tienne commented on #1
:1st_place_medal:

[2020-11-06 16:48] #5 closed

[2020-11-06 16:51] jaysoo commented on #1
We're getting close. A fix for the jest setup is coming today https://github.com/nrwl/nx-react-native/pull/6.

And we've verified workflows for ios and android (starting project, dev build, prod build). ETA is next week -- week of November 9th.

[2020-11-06 21:57] wjaszczuk commented on #1
@jaysoo yay, I'm looking forward to seeing it in action!

[2020-11-09 16:29] bostondevin commented on #1
Yaaaaaaaayyyyyy!!!!!!

[2020-11-10 09:39] BassamHabash commented on #5
Hi @0b3r, @alveshelio

How can add it to NX workspace? should I git clone the lib?

[2020-11-12 03:53] jaysoo commented on #1
I've just published a beta of this plugin. It should be compatible with any version of Nx 10.

[code]

[2020-11-12 12:00] mtapdilli opened #8 "Unable to start the app"
- Running _nx start my-app_ gives below error :
`**The run-ios build requires OSX to run**`

- Running _nx run-android my-app_ gives below error :
`EPERM: operation not permitted, symlink '_**path to the workspace**_\node_modules\react-native' -> '*_path to the workspace*_\apps\my-app\node_modules\react-native'`

- Running _nx build-android my-app_ gives below error :
`spawn _**path to the workspa

[2020-11-12 12:26] nclarx commented on #8
Check out the comment about the release on https://github.com/nrwl/nx-react-native/issues/1 that might give you some insight into the constraints.

If you're on Windows you won't have the simulator for iOS - that's a MacOS only thing as far as I know. Other who know the ecosystem better might have some suggestions?

[2020-11-12 14:09] jaysoo commented on #8
@nclarx is right, iOS requires a toolchain that only OSX provides.

For Android, I it looks like the symlink operation didn't work for you -- React Native has hard-coded `node_modules` paths in some of it's scripts so the symlink is needed to work. I'll double-check on a Windows  machine.

[2020-11-12 18:25] mtapdilli commented on #8
Sure @jaysoo . I was only trying to to Android app did not touch iOS. I rand _nx start my-app_ as it was mentioned that it will "Start JS bundler" and got the error that I have mentioned i.e., **The run-ios build requires OSX to run**

[2020-11-12 18:55] jaysoo commented on #8
Oh yes, I see there's an erroneous platform check for the bundler builder. I'll patch that.

[2020-11-12 18:58] jaysoo commented on #8
@mtapdilli Can you try `10.4.0-beta.5`?

[2020-11-12 19:26] jaysoo commented on #8
Investigating the symlink issue. I can reproduce it in Window.s

[2020-11-12 20:21] jaysoo commented on #8
@mtapdilli Can you try `10.4.0-beta.6`?

[2020-11-13 03:38] jaysoo commented on #8
I'm able to start the bundler and run the android  app in Windows. Closing this issue.

[2020-11-13 03:38] #8 closed

[2020-11-13 05:25] mtapdilli commented on #8
Hey @jaysoo . Just tried beta.6. I Am able to run the android app. Cheers 🥂

**Note :** I was getting an error like `"Exception in thread "main" java.util.zip.ZipException: error in opening zip file"`. I got it to work after clearing the `".gradle\wrapper\dists\gradle-6.0.1-all\99d3u8wxs16ndehh90lbbir67"` directory. Users might get this if they already the gradle zip file in the directory. So, jus

[2020-11-13 14:21] jaysoo opened #9 "Support different ports for JS bundler"
Currently android and ios apps depend on the JS bundler to run on port `8081`. We should allow  `--port` to be set for `run-ios` and `run-android` commands so we can run multiple apps in the same workspace.

[2020-11-13 14:23] jaysoo opened #10 "Automatically start JS bundler for run-ios and run-android"
When running `run-ios` or `run-android` command we should automatically start the JS bundler so it doesn't have to be run separately in another terminal. There should be an option to turn this behavior off.

[2020-11-13 14:41] mtapdilli commented on #9
This would really take lot of headache away in situations where 8081 is blocked/occupied by some service [McAfee in my case].

[2020-11-13 20:45] jaysoo commented on #1
I published `10.4.0` so please use that version. Please open an issue for any feedback or bugs.

[2020-11-13 20:45] #1 closed

[2020-11-14 13:42] yogevlahyani opened #11 "Android autolinking is not working"
When adding a native package that supports auto-linking, it's working on IOS but not on android
I used [react-native-screens](https://github.com/software-mansion/react-native-screens) but it happens with any native package I tested ([react-native-image-picker](https://github.com/react-native-image-picker/react-native-image-picker) for example)

<img src="https://user-images.githubusercontent.com/9

[2020-11-16 15:02] jaysoo commented on #11
@yogevlahyani Can you add `"react-native-image-picker" :"*"` to the app's package.json? This is how React Native picks up native modules for autolinking.

Let me know if that resolves the issue for you. We're investigating ways to make this process more seamless.

[2020-11-16 15:36] yogevlahyani commented on #11
@jaysoo It's working, I also update the [Reproduce repo](https://github.com/yogevlahyani/nx-react-native-android-autolink)

It's worth mentioning in the docs and making this process more seamless will be super helpful :)

Thanks for the clarification!

[2020-11-16 15:51] jaysoo opened #12 "Automatically sync dependencies to app `package.json`"
## What?

We want autolink to work, which means.

1. When running `run-ios` or `run-android`, we want the app's `package.json` to be updated with npm dependencies used by the app.
2. A builder to sync dependencies to `package.json` (in case users want to run `pod install` manually for example). This should be run as `nx sync-deps [app]`.

## Why?

React native require dependencies to be in the app

[2020-11-16 16:03] jaysoo commented on #11
Closing this and tracking the feature here https://github.com/nrwl/nx-react-native/issues/12

[2020-11-16 16:03] #11 closed

[2020-11-16 17:08] trumbitta commented on #12
Is there in this something that "normal" publishable libs could also benefit from?

[2020-11-16 18:24] jaysoo commented on #12
@trumbitta We do pick up workspace dependencies when using buildable and publishable libs. So if you run `nx build  ... --withDeps` it'll build the dependencies in topological order. Is that what you mean?

[2020-11-17 07:52] cdanyl opened #13 "Error: spawn pod ENOENT"
* Running `npx nx g @nrwl/react-native:app <app-name>` gives error `Error: spawn pod ENOENT`

[code]
[code]

[2020-11-17 20:01] jaysoo commented on #13
Hi @cdanyl, can you run the following?

[code]

Or try this if you dont' want to run with `sudo`.

[code]

Now you should be able to run `pod install` from the ios folder.

[2020-11-17 20:14] jaysoo commented on #13
This error message will be more clear in the next version `10.4.1`.

[2020-11-17 20:14] #13 closed

[2020-11-18 14:14] #12 closed

[2020-11-18 14:20] trumbitta commented on #12
@jaysoo I mean automagically adding deps to the `package.json` of a publishable lib when preparing the npm package :D

[2020-11-19 03:48] jaysoo commented on #9
This released as a part of 10.4.1. You can now use `nx start [app] --port=5000` and `nx run-ios [app] --port=5000` (or `run-android`).

For existing apps you will need to add two lines to your `ios/Podfile`.

1. Add this to the beginning of the file:

[code]

2. Then in `post_install` add this:
[code]

[2020-11-19 03:48] #9 closed

[2020-11-19 10:45] alveshelio opened #16 "npx nx g @nrwl/react-native:app throws error"
I'm working on a project set up with `nx` and I have a web app in next and I want to create a mobile app. When I run this command `npx nx g @nrwl/react-native:app mobile-app` it throws this error: **ignore_1.default is not a function**

I have nx 10.4.4.

[2020-11-19 14:31] jaysoo commented on #16
@alveshelio Which version of `@nrwl/react-native` are you using? Can you try the latest `10.4.2`?

[2020-11-20 11:16] alveshelio commented on #16
Hi @jaysoo,

I've installed @nrwl/react-native 10.4.4 and it fixed the issue.

Thank you very much for your help.

[2020-11-20 11:16] #16 closed

[2020-11-20 14:20] #10 closed

[2020-11-25 10:23] ceremonious opened #18 "Migration Issues"
I'm excited to see the release of nx-react-native. We started working on a new React Native project recently, and I spent this afternoon migrating it to NX. I followed this [migration guide](https://blog.nrwl.io/introducing-react-native-support-for-nx-48d335e90c89) and ran into a couple of issues, so I wanted to document them here in case others ran into the same issues. Our project was a base Rea

[2020-11-26 16:01] jaysoo commented on #18
Hey @ceremonious thanks for the info!

We will be migrating the react-native plugin back into the main repo soon, and we'll also be providing extra guides on nx.dev in the next couple of months.

For now, I will update the blog post to reflect some of the issues you found.

[2020-11-26 16:04] jaysoo opened #19 "Support JDK 14"
The gradle version errors out when using JDK 14. We need to update the gradle version.

For anyone running into this issue with JDK 14, you need to update your `android/gradle/wrapper/gradle-wrapper.properties' file.

[code]

Or else you'll see something like this.

[code]

[2020-11-26 16:19] #19 closed

[2020-11-26 20:12] jaysoo opened #21 "Not working for pnpm"
React native doesn't work with pnpm, but we should be able to make it work with Nx.

[2020-11-27 01:48] jaysoo commented on #18
For `10.4.7` (currently in beta), many of the migration steps will be removed.

In order for `pnpm` to work, we need to symlink all of the required node  modules for the build scripts anyway, so the normal relative paths from React Native will work! :)

[2020-11-27 13:50] jaysoo commented on #21
There's more to it then the symlinks, looks like metro bundler isn't following the symlinks.

I've tried using a custom resolver logic, but seem to be running into this issue https://github.com/facebook/jest/issues/10063.

Will investigate further.

[2020-12-01 04:39] mtapdilli opened #23 "Unable to resolve module"
error: Error: Unable to resolve module `../Observable` from `node_modules\rxjs\internal\observable\ConnectableObservable.js`: ../Observable could not be found within the project or in these directories:
  .
  ..\..\..\..

I had setup two sample repo for you try out Jack :

without Nx : https://github.com/mtapdilli/rntsrx

with Nx : https://github.com/mtapdilli/rntsrx_nx

It's a basic app and I hav

[2020-12-01 05:31] mtapdilli commented on #23
@jaysoo this seems to working fine in Linux. Not sure if it has something to do with the platform.

For my part I am running **nx run-android rntsrx_nx --port=9000** [port 8081 is blocked in my system] in my windows machine and it's giving me the error

[2020-12-01 06:26] mtapdilli commented on #23
@jaysoo I have just tried with other libraries like @react-navigation/stack or @react-navigation/native. Getting same error. It just seems to be a generic issue I am facing. Not related to rxjs/Observable

[2020-12-01 08:39] mtapdilli commented on #8
@jaysoo Not sure if this is somehow causing the https://github.com/nrwl/nx-react-native/issues/23

Can we just re-open this to track the below issue that was left out ?

- Running nx build-android my-app gives below error :
spawn _**path to the workspace**_\apps\my-app\android\gradlew ENOENT

[2020-12-01 11:07] ceremonious opened #24 "NX Library Import not working with 0.63.3"
I upgraded our React Native version from 0.63.2 to 0.63.3 and I'm getting the following issue when trying to build the release iOS version via Fastlane:

[code]

`heartbeat-frontend-data` is a NX library in the same workspace that I'm trying to import. Everything works fine when using React Native 0.63.2

[2020-12-03 01:39] jaysoo commented on #24
@ceremonious What does your `tsconfig.base.json` look like at the workspace root? Does it have the mappings in paths section?

[2020-12-03 01:42] ceremonious commented on #24
Yea, our `tsconfig.base.json` has the mappings in the paths section.

`
"paths": {
      ...,
      "@heartbeat/heartbeat-frontend-data": [
        "libs/heartbeat-frontend-data/src/index.ts"
      ]
    },
`

[2020-12-03 01:44] jaysoo commented on #24
And do you see the same problem with react-native `0.63.4`? I'm trying to reproduce the problem but cannot. Is your repo public by any chance?

[2020-12-03 01:57] jaysoo commented on #23
@mtapdilli Very strange. I'm going to have to test it out on a Windows machine, but it does work with Linux and Mac..

[2020-12-03 02:00] ceremonious commented on #24
Yea, we're running into the same issue with `0.63.4`. Unfortunately, our repo is not public. Do you have a public repo available using nx-react-native? Our babel/metro settings might be configured differently.

I tried creating a fresh NX workspace to set up a fresh nx-react-native setup, but I'm running into the following error after running `npx create-nx-workspace`:

_No valid exports main foun

[2020-12-03 02:03] jaysoo commented on #24
Are you able to share your metro config?

[2020-12-03 02:09] ceremonious commented on #24
We're using the metro config that NX generates (I copied it over when I did the migration):

[code]

[2020-12-03 02:12] jaysoo commented on #24
What about the `babel.config.js` file? Any changes there?

[2020-12-03 02:17] ceremonious commented on #24
That might be the issue, the `babel.config.js` inside `apps/heartbeat-react-native` is (which was copied over):

[code]

However, the `babel.config.js` in our base workspace folder is:

[code]

Should `module:metro-react-native-babel-preset` be in the base `babel.config.js`?

[2020-12-03 02:58] jaysoo commented on #24
No, the  root babel config shouldn't be used by React Native because it probably doesn't look "upward" from the app root.

I've created a workspace here that has a React Native app with workspace libs. https://github.com/jaysoo/acme

[code]

Does that compile and run for you? Note that when you add a new workspace lib, you will need to restart the packager to pick up new paths (I'm looking at an e

[2020-12-03 04:20] ceremonious commented on #24
I'm getting the same issue with the example repo:

[code]

To clarify, I'm getting this error when I build using Fastlane in order to deploy to Testflight, not during development. However, I also got the same error when doing a release build via XCode.

To replicate, open the Mobile XCode workspace (`Mobile.xcworkspace`) and then edit the scheme to use the Release build configuration ([step 2 on t

[2020-12-03 15:34] jaysoo commented on #8
`ENOENT` is because the file is not found. I'll take to take a look on a Windows machine again, but it's  not a permissions issue.

[2020-12-04 02:31] ceremonious commented on #24
I tried upgrading + adding the debug config line, but I was still running into the error + not seeing any debugging output. I even tried deleting the `metro.config.js` file completely and doing a build, and the error log looked exactly the same. It seems like the `metro.config.js` file is not being used when building from XCode.

I attached the error log I'm seeing in XCode when I try to do a rele

[2020-12-04 19:01] mtapdilli commented on #8
@jaysoo I could get build-android command get to work in my system after changing[ this line](https://github.com/nrwl/nx-react-native/blob/9e1b3796b6efa844f8145a4629cd09eecca53608/packages/react-native/src/builders/build-android/build-android.impl.ts#L47)  from `join(projectRoot, 'android/gradlew')` to `join(projectRoot, 'android/gradlew.bat')`

I am thinking root cause might this : https://github

[2020-12-04 19:11] jaysoo commented on #23
This should be fixed in `10.4.8-beta.7` (I will cut a full release soon). There was a problem in our custom resolver when passing the module path to the original metro resolver (using module name vs real module name).

[2020-12-04 19:11] #23 closed

[2020-12-04 19:12] jaysoo commented on #24
If the config isn't being picked up then that would make sense. Need to check the shell scripts in the xcode project again, maybe I missed updating something there.

[2020-12-04 19:15] jaysoo commented on #8
We're doing both now:

- https://github.com/nrwl/nx-react-native/blob/main/packages/react-native/src/builders/build-android/build-android.impl.ts#L28-L29
- https://github.com/nrwl/nx-react-native/blob/main/packages/react-native/src/builders/run-android/run-android.impl.ts#L39-L40

Don't need the platform check since chmodding the unused one is fine.

[2020-12-04 19:28] jaysoo commented on #24
@ceremonious Can you also make sure you are on `10.4.8-beta.8`? You should be able to see some debug statements if you set `{ debug: true }` in the metro config.

[2020-12-04 22:33] ceremonious commented on #24
I was on `10.4.8-beta.1`. I upgraded to `10.4.8-beta.7` (I don't see a beta.8 available) and it looks like it's working better now. It seems like when I run the release build from XCode, it's looking for `metro.config.js` in the base folder, instead of in the app folder.

I got the following error after I copied my `metro.config.js` file to my base folder:

[code]

I only see the following error i

[2020-12-05 00:03] ceremonious commented on #24
Update: I fixed the problem in our repo. The issue was that we didn't have symlinks created for `node_modules` in `apps/heartbeat-react-native`. I had never run `nx run-ios heartbeat-react-native` because I've been doing most of my testing on a local device instead of a simulator, so the symlink never got created by NX. Since there was no symlink, XCode was looking in the base folder instead of th

[2020-12-09 16:01] jaysoo commented on #24
@ceremonious That's great! We will be providing migrations moving forward if any setup changes are needed.

[2020-12-09 16:01] #24 closed

[2020-12-09 16:09] jaysoo commented on #18
Closing this issue since the migration instructions are updated on blog post.

[2020-12-09 16:09] #18 closed

[2020-12-10 09:13] igamidanes opened #25 "Support for react-native-web"
Would support for react-native-web be implemented or optional instructions?

[2020-12-10 15:45] jaysoo commented on #25
@igamidanes What sort of support are you looking for? You can use `react-native-web` if you install it manually, but we don't  have any plans to provide code generation, etc. specifically for `react-native-web`.

For code generation, you can always write your own [workspace schematics](https://nx.dev/latest/react/guides/monorepo-nx-enterprise#workspace-schematics) to generate with `react-native-we

[2020-12-12 07:24] quolpr opened #26 "Problem with Cocoapods"
I made:

[code]

And then I got this:

[code]

Btw, the pod is installed:

[code]

[2020-12-12 07:37] quolpr commented on #26
After upgrading to cocoapods 1.10.0 the issue is gone 😄️

[2020-12-12 07:37] #26 closed

[2020-12-12 09:44] quolpr opened #27 "Correct App.tsx location"
`nx-react` has such dir structure when generated:

[code]

Should `nx-react-native` have the same structure? For consistency

[2020-12-12 09:48] quolpr commented on #27
Especially that default generated config that points to `src`
[code]

[2020-12-12 21:44] RichardMarks opened #28 "Unable to start / run on macOS 10.15.7"
Hi. I tried to follow the instructions here in the README and it does not work for me.

### What I did

[code]

### What Happened

The command `npx nx start app` just returned me to the terminal.
[code]

The command `npx run-ios app --install` just returned me to the terminal.
[code]

### What was Expected

I expected the app to run in the ios simulator.

### Version Information

[code]

[code]

#

[2020-12-14 02:53] goofiw commented on #28
Did you get an error when installing `npm install --save-dev @nrwl/react-native`? I had an error in the output.  It wasn't immediately apparent bc the install looks like it succeeds.  I was also able to reproduce this problem.

I worked through this: https://stackoverflow.com/questions/63592445/ld-unsupported-tapi-file-type-tapi-tbd-in-yaml-file .  It seems like it might have something to do with

[2020-12-14 05:09] RichardMarks commented on #28
@goofiw

No, I did not get any errors:

[code]

[2020-12-14 16:49] goofiw commented on #28
Hmm, looks like that's a different issue on my end.  I installed (and selected) the new version of xcode and am seeing the same results posted in the initial comment.

[2020-12-14 17:35] joewired commented on #28
I had a similar issue. It took me a while to figure it out but for me some modules were missing in the package.json inside the react native app.

something like this:
{
...
"app-module-missing": "*"
..
}

Hope this helps you get to the bottom of it

[2020-12-14 17:48] RichardMarks commented on #28
What exactly is missing?

[code]

[2020-12-14 23:42] goofiw commented on #28
I (not the original issue owner) got the builder to start working by downgrading nx to version 10.4 (as well as specifying `npx create-nx-workspace@10 play` when making the workspace.

[2020-12-15 17:33] jaysoo commented on #28
There was a change with devkit in Nx 11 that caused a breaking change. Just published `11.0.0` of `@nrwl/react-native` to fix the issue.

[2020-12-15 17:33] #28 closed

[2020-12-17 11:30] ceremonious opened #29 "Typescript type checking"
Is there a way for me to view all of the type errors in a NX React Native app? When running the React app or the Node app, NX automatically runs the type checker when running `nx serve,` but it doesn't do the same when running `nx start` for my React Native app.

Do I need to use `tsc`? What's the proper configuration for that?

[2020-12-17 19:38] jaysoo commented on #29
We rely on the metro bundler and the corresponding babel metro preset to transpile TypeScript. There might be a way to tweak it to not do transpile only, but also type check.

Need to look into it.

[2020-12-18 15:46] jaysoo commented on #27
That's a good point, we definitely want to follow conventions so users aren't surprised. The current setup was copied from `create-react-native-app`, but we can do better. :)

[2020-12-21 19:51] jaysoo commented on #29
Need to give this one some thought, the best way to do typechecking currently is to run tsc.

You can add a tsc target to your app:

[code]

Then you can run `npx nx typecheck my-app` during CI, and rely on your IDE (VSCode or IntelliJ to check locally).

---

There are some issues making it hard to get tsc to work fully with React Native. For example, it cannot resolve platform specific files lik

[2020-12-22 18:02] #27 closed

[2021-01-03 01:45] hanselabreu commented on #4
This would be nice 👍

[2021-01-05 13:09] YonatanKra opened #30 "C compiler cannot create executables"
I've followed the instructions in the readme and when I'm trying to run the app I get the following error:
[code]
Any idea why?

[2021-01-05 13:17] YonatanKra opened #31 "Error: Running `pod install` failed, see above."
This might be the source of #30 .
While creating a new app, I got this error:
[code]
I already have `coacoapods` installed locally. Any idea why this has failed?

[2021-01-11 18:31] jaysoo commented on #30
I think you need to up your Xcode settings to allow for CLI tools to be used.

Check out this article to see if it helps https://www.ryadel.com/en/xcode-sdk-iphoneos-cannot-be-located-mac-osx-error-fix/

[2021-01-11 18:31] #30 closed

[2021-01-11 18:35] jaysoo commented on #31
Looks like a configuration issue with Xcode. This might fix it for you:

[code]

Also check this page out https://www.ryadel.com/en/xcode-sdk-iphoneos-cannot-be-located-mac-osx-error-fix/

[2021-01-11 18:35] #31 closed

[2021-01-11 18:36] jaysoo commented on #29
Just a quick update, we are still looking into this but we have a few higher priority items in the works right now (including moving this repo back into the main Nx monorepo).

[2021-01-11 22:41] ceremonious opened #32 "NX Environment Variables"
Are we able to access NX environment variables from the React Native JS bundle? I have an environment variable defined in `.local.env` and I'm able to access it in my React & NodeJS apps in the same workspace. However, the same variable is undefined when I try to access it from the JS bundle during local development. The variable is defined if I print it out in `metro.config.js`, so it seems to be

[2021-01-14 09:12] FHourmy opened #33 "On windows build-android throw an error "spawn ./gradlew ENOENT""
Edit : Sorry duplicate issue with #34 due to a github glitch

[2021-01-14 09:13] FHourmy opened #34 "Error "./gradlew ENOENT" on windows when running nx android-build"
Hi,

I'm trying out the library on windows, and when i try to build the app after following the getting started i get an error "spawn ./gradlew ENOENT"

inspired by this issue https://github.com/nrwl/nx-react-native/issues/8 i was able to bandaid the issue by replacing "./gradlew" with "gradlew.bat" in the spawn command of the function runCliBuild

[2021-01-14 09:34] #33 closed

[2021-01-15 15:12] jaysoo commented on #32
@ceremonious You mean variables prefixed with `NX_`? We can look into this support out of the box to keep things consistent with the rest of Nx plugins.

As a workaround, this babel plugin should work, but you have to maintain the list of variables yourself. https://www.npmjs.com/package/react-native-dotenv

[2021-01-16 13:07] dominikspiertz opened #35 "jest module mocks inside tests are not working"
Hello everybody, and first of all thanks for making react-native work inside the nx environment.

I normally use nx with react and node. I just started my first react native project with nx. When writing tests with `jest` and `@testing-library/react-native`, I'd normally use `jest.mock('./module')` and `jest.spyOn` to mock external dependencies in my unit tests.

When using a clean install of the

[2021-01-20 19:07] goofiw opened #36 "Ability to pass additional params to run-ios"
Is it possible to add passing additional commands to run-ios?

i.e., I'd like to specify a real device, see verbose logs, etc.

Out current workaround is:
[code]

[2021-01-27 16:24] david-gettins opened #37 "Any advice on migrating an existing react native project?"
_I have already tried this and failed (so far)._

**Background**
I am trying to bring an existing react native project into an nx workspace. I started by generating a workspace and an example rn app with the instructions you have provided. Next, I created another app with the name of my existing project, copied across the files and re-jigged some of the folders to match that of the example app. I

[2021-01-28 11:30] david-gettins commented on #37
I managed to fix this by updating these packages: `@react-navigation/core`, `@react-navigation/native`, `@react-navigation/stack`. I haven't got a clue why this worked, but it did.

My question still stands though. Please can we have some docs to help with migrating existing projects?

[2021-01-30 02:14] hanselabreu commented on #36
This would be nice, I can't seem to shake off the default iPhone 8 simulator.

Here's the command i'm running: `nx run-ios app --simulator='iPhone 12 Pro'`.

[2021-01-30 07:03] rjvim commented on #32
https://www.npmjs.com/package/react-native-dotenv doesn't work as expected. We encountered following problems:

1. Multiple environments don't work. We created .env.staging, tried to access it via APP_ENV=staging
2. We have to make some change to .js file for new values to load whenever we change .env

Is there any other way, to pass different/new environment variables to react-native app?

[2021-02-02 00:36] law-geek commented on #36
Adding the `simulator` property to options in the `run-ios` builder in `workspace.json` seemed to do the trick for me:
<img width="700" alt="Screen Shot 2021-02-02 at 11 34 57 am" src="https://user-images.githubusercontent.com/67450706/106535584-aed34a00-654a-11eb-95ab-c6f77eb808f2.png">

[2021-02-04 13:37] tocalvo opened #39 "React-native aliases with nextjs plugin"
Hi 👋 !
I try to use react-native components in a nextjs app inside an nx monorepo. But throws an import error.

This a demo repo with the problem (aliases-native branch) -> https://github.com/tocalvo/react-monorepo-cache/tree/aliases-native

If you try to launch the `nx serve next-example` command, the builds go fine, but on render throw:
[code]

I try to add the babel plugin (both, "react-native"

[2021-02-05 17:54] gmenih341 opened #40 "The app fails to run on iOS out of the box"
I just added a react-native app to my NX environment, and tried to run it... I immediately get an error, that `logo.png` can't be found. I tried to follow the steps that are printed next to the error, but no luck:

[code]

Any idea why this file can't be found?

[2021-02-06 22:10] cgnuechtel commented on #4
There is a "Expo Managed Plugin for Nx":
https://github.com/JacopoPatroclo/nx-react-native-expo

It seems to work out of the box.

[2021-02-08 01:35] gaborkajtar commented on #40
I am getting the same problem both in a newly generated RN app and one I have migrated to NX Workspace. It looks like if the `projectRoot` of the metro config is changed to the workspace root, metro will stop resolving non .js files. All the images, json, etc... will come back unresolved. I have managed to "fix" it by patching the @nrwl/react-native/plugins/metro-resolver.js to resolve these files

[2021-02-08 16:11] monroeinstitute opened #41 "Command to regenerate native app node_modules"
It seems that NX manages a second node modules folder inside the native app.  Is there a manual command to move those files there?  I'm trying to deploy via bitrise, and it isn't finding nx_post_install in the right place and so is failing when cocoapods runs.

[2021-02-10 01:54] goofiw commented on #36
@law-geek that's a great work around for now!  Hopefully we can get something that scales across multiple dev environments goin.

[2021-02-10 03:08] davisk4rpi commented on #36
For a physical device:

get the name of your connected devices from the command line with:
[code]
the output should be something like:
[code]

In workspace.json under the target project's "architect"
[code]

There is a `--device` option you can use from the commandline
`yarn nx run-ios app-name --device="My iPhone"`

 but no matter how I have tried to format or slice "My iPhone" it spits out:
[cod

[2021-02-10 16:32] jaysoo commented on #32
No at this moment, I'll get someone to investigate this.

[2021-02-10 16:38] jaysoo commented on #41
@monroeinstitute Not at this moment, but you could write a scrip that calls this function.
[code]

I think we should add a command `nx ensure-symlink myapp` to help with this.

[2021-02-10 16:44] jaysoo commented on #39
@tocalvo  Maybe the extensions need to be added to `next.config.js` as well?

https://github.com/vercel/next.js/blob/master/examples/with-react-native-web/next.config.js

I'll test it out on my machine as well, AFAIK there shouldn't be anything different in the Nx setup compared to plain Next.js app.

[2021-02-10 16:48] jaysoo commented on #37
We'll take a look, do you happen to have a repo with this broken behavior? You may need to clear out cache when switching back to your old project.

[code]

[2021-02-10 19:56] westhechiang opened #43 "Importing SVGs yields errors"
Hi there! SUPER excited about the react-native integration y'all have. I have a non-NX monorepo that has an expo-based react-native app that is working with SVGs and when I migrated over to NX, the iOS app throws the following error:

```Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: number.```

When I comment out

[2021-02-11 04:08] rjvim commented on #32
We ended up using - react-native-config

And we send env file using `ENVFILE=.env.staging nx run-android investor-mobile`

Hope this helps

[2021-02-11 13:40] monroeinstitute opened #44 "main.jsbundle not found on CI build"
I'm trying to build an app on Bitrise - has anyone had success with that?

It is failing on the Xcode build because it can't find main.jsbundle.

In my research of other apps, they recommend running something like this

`"build:ios": "react-native bundle --entry-file='index.ios.js' --bundle-output='./ios/YourAppName/main.jsbundle' --dev=false --platform='ios' --assets-dest='./ios'"`

And then addi

[2021-02-11 21:11] alfonsobravi commented on #40
@jaysoo  I'm extremely glad that's been elevated to 'bug' status!
Just letting you know, even with the above patch to `metro-resolver.js` I keep getting the original resolve error.
And that's on a newly created nx workspace and an off-the-cli react-native app.

[2021-02-11 23:40] Bushuo commented on #40
Did you `const path = require("path");`
This workaround did it for me

[2021-02-11 23:49] tenhaus commented on #40
This is the same for me. Any workarounds like downgrading? It fails for images that are included in node_modules as well.

[2021-02-12 11:21] Bushuo commented on #40
Found another fix! (for yarn)
Add a resolutions field to your package.json
[code]
@jaysoo I guess a version bump of `metro-resolver` to `0.59.0` would fix this issue.
v0.59 handles asset files differently.

[2021-02-13 14:25] tocalvo commented on #39
Hi! Thanks for give it a try 😄  i try with the extensions and fails too , the only thing i found to work is adding
[code]
inside the node_module/next/dist/build/utils.js file, inside "isPageStatic" function.
But is really weird, its like nextjs is ignoring aliases from tsconfig on build time.
Should take alias from tsconfig, and i was afraid that maybe some config in Typescript config in nx is ove

[2021-02-14 19:06] goofiw commented on #44
We've been struggling with something like this as well while trying to setup detox texting.

We ended up wrapping the ensure symlink function inside the nrwl/react-native plugin for our ci build (still not working with detox) to fix some of the dependency issues.

[2021-02-15 21:41] alfonsobravi commented on #40
I've had half-success with @Bushuo fix.
Assets resolve just fine now, but as soon as I try to resolve imports from the `libs` folder the app just goes dead blank and the bundler console won't give any meaningful feedback.
If I run the debugger I then get something along those lines:
[code]
@jaysoo any idea how to overcome this? Sounds like the monorepo is fighting against its own nature!

[2021-02-19 08:47] david-gettins commented on #37
I don't have a repo available I'm afraid, difficult to reproduce. Thanks for the advice about the cache.

[2021-02-19 18:11] jaysoo commented on #44
Was this working with a normal React Native project? The Nx commands mostly just wrap around the normal React Native tools, with the exception that some paths are updated to support a monorepo structure.

[2021-02-20 07:45] ckhandla94 opened #45 "Build Faild"
- I have follow the steps of the document. I have not made any changes,  I am just trying to run project.
I am getting this error.
![image](https://user-images.githubusercontent.com/27082896/108588147-ad44b700-737d-11eb-8eb1-f60fd487afd3.png)

[2021-02-22 03:26] goofiw opened #47 "Build no longer works for developing plugins"
Repro:
Node Version: tried 12 and 14
1a. watched video here: https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md
1.  fork nx-react-native
2. install deps with `yarn`
3. run `yarn test`
4. observe failure to build due to `names` import

(I tried fixing by importing the new names function from the devkit)[https://github.com/nrwl/nx-react-native/pull/46] and also by importing the reexported names

[2021-02-24 10:23] noviadi opened #48 "Breaking issue due to @react-native-community/cli@4.14.0"
### Breaking issue
Generating a new RN App using `nx-react-native` will use `react-native@0.63.4` that resolves `@react-native-community/cli` dependency to version `4.14.0` which bumps `metro-resolver` to version `0.59` [(changelog)](https://github.com/react-native-community/cli/releases/tag/v4.14.0). This update causes the generated RN App bundler unable to resolve static assets like images or js

[2021-02-25 15:26] hanselabreu opened #49 "Generating a react-native library through the CLI adds unnecessary dependencies"
When generating a react-native library through the CLI, it ends up adding unnecessary dependencies. They appear to be the dependencies for `@nrwl/web` or `@nrwl/react` projects.

`dependencies`:
[code]

`devDependencies`:
[code]

Also, using the `--tags` does not create the tags.

Example command:

`nx generate @nrwl/react-native:lib test --directory=mobile/shared/components tags=scope:mobile,type

[2021-02-25 16:07] jaysoo commented on #48
I think the error is  caused by a mismatch between metro-resolver versions.

This PR should fix this https://github.com/nrwl/nx-react-native/pull/50

[2021-02-26 11:34] noviadi commented on #48
Thank you for the fix. When could we expect it to be released?

[2021-02-26 13:29] jaysoo commented on #48
I'm working on the release today.

[2021-02-26 15:03] jaysoo commented on #48
In the meantime, if you install the following packages it should fix it in your repo.

[code]

[2021-02-26 15:37] #48 closed

[2021-02-26 15:42] jaysoo commented on #48
This should be fixed now in 11.4.0.

Try running the migration:

[code]

[2021-02-26 18:52] jaysoo commented on #45
It should be working in the latest release. There was an error bundling JS due to incompatible versions of metro.

[code]

[2021-02-26 18:52] #45 closed

[2021-02-26 19:18] #34 closed

[2021-02-26 19:20] jaysoo commented on #44
One thing to note is that we already generate the xcode project with the correct entry-file, so no modifications should be needed.

We're in the process of wiring up more e2e tests for this project so this should be solved soon.

[2021-02-26 19:28] jaysoo commented on #43
Thanks for reporting, we'll take a look.

[2021-02-26 19:29] jaysoo commented on #47
This has been fixed on main branch now.

[2021-02-26 19:29] #47 closed

[2021-02-27 04:50] ckhandla94 commented on #45
@jaysoo  Thanks for reply, I have run the command but still I am getting build fail error.

![image](https://user-images.githubusercontent.com/27082896/109375783-5727c480-78e5-11eb-80ca-a1a26cd7bd7e.png)

[2021-03-01 23:32] davisk4rpi opened #54 "Migration to 11.4.1 broke .json imports"
We recently ran `nx migrate @nrwl/react-native latest`

One of the migrations added `metro-resolver: 0.59.0` to our dev dependencies.

This library broke .json file imports in our translations library.
[code]

The file exists and removing the dependency restores functionality.

[2021-03-04 03:01] wSedlacek commented on #21
This issue may be insightful - https://github.com/pnpm/pnpm/issues/3010

[2021-03-04 03:14] wSedlacek opened #55 "Incorrect version of `@nrwl/react` installed"
https://github.com/nrwl/nx-react-native/blob/d93d0f238332718adf84459634291e2c1523b023/packages/react-native/src/utils/versions.ts#L1

It seems that this version number is out of date and causes the following error on NPM 7.
[code]

[2021-03-04 03:26] wSedlacek opened #56 "Incorrect `react` peer dependency version installed by default"
The following error happens when attempting to use the default configurations with NPM v7 (after correcting the incorrect @nrwl/react version #55)

[code]

[2021-03-04 03:32] wSedlacek opened #57 "test-setup.ts is not included in tsconfig.spec.json"
`test-setup.ts` uses the jest global object but is not included in `tsconfig.spec.json` and excluded from `tsconfig.app.json`

[2021-03-04 03:37] wSedlacek opened #58 "package.json defaults to upper case name"
When creating a new project the `name` field in `package.json` is upper case.

[code]

I am rather new to React Native so I am not sure if this is a requirement by them but this does not follow the [NPM naming specification](https://docs.npmjs.com/creating-a-package-json-file/#:~:text=and%20version%20fields-,A%20package.,may%20contain%20hyphens%20and%20underscores.).
So I wanted to determine if th

[2021-03-11 08:19] tocalvo commented on #54
Same here, upgrading and the .json imports fails.
Adding
[code]
temporarily to package.json works again (yarn)

[2021-03-12 01:43] niklas-wortmann opened #59 "[Feature Request] react-native-windows-support"
Hi together,

thanks a lot for providing react native tooling with nx.
I plan to use this on a future project quite soon and was wondering if there are any plans to incorporate react-native-windows (https://microsoft.github.io/react-native-windows/) from what I've seen so far there's no support for this yet?

Are there any plans to support react-native-windows? Would be happy to support with a PR

[2021-03-16 20:31] farcaller commented on #25
It's not quite clear how to do the aliasing required for react-native-web to work. The mobile app will work fine with `import ... from 'react-native'`, but the react app will need to alias that import to the `'react-native-web'` instead. Some docs on how to do that would be really helpful.

[2021-03-16 21:08] hanselabreu commented on #25
I believe this [article](https://blog.nrwl.io/introducing-react-native-support-for-nx-48d335e90c89) is what you're looking for

[2021-03-17 08:51] farcaller commented on #25
That's it, thanks!

[2021-03-22 22:26] davisk4rpi commented on #43
Im not using expo for my project, but I suspect it is because you are not waiting for `getDefaultConfig()` to return

Here is my working config:
[code]

Hope that helps!

[2021-03-26 02:00] tobiasmh opened #60 "Invoke NX generator unsafely references engine host paths"
[code]

When falling back to the tree root path when paths are not defined then the plugin works correctly. I will raise a PR with a check that the paths are not undefined before referencing it.

It looks like it can affect other plugins too.
https://github.com/nrwl/nx/pull/4675
https://github.com/nrwl/nx/issues/4687

Fixing the root plugins is probably better, but the user experience is not great

[2021-03-26 02:09] #60 closed

[2021-03-26 02:10] tobiasmh commented on #60
raised on nx core project

[2021-04-11 14:04] violabg commented on #4
Are there any news on this?

[2021-04-16 16:55] jackgllghr commented on #44
Hey any update to this? I found in my project that the reference in the Xcode project was broken, so it was pointing to the **apps/my-app/iOS/main.jsbundle** however the default bundle command produces the bundle at **dist/apps/my-app/ios/main.bundle**

I fixed the reference to that locally, but still hitting an issue where the index.js entry file is not found, any ideas?
I'm happy to PR the fixes

[2021-04-18 09:24] stingrigs commented on #55
That cause to problems with react projects and libs

[2021-04-19 14:25] stingrigs commented on #40
Have the same issue when I'm trying to import something into the react-native project. Spend some time for that and find out that it works only in case you run the app via the `nx run app-mobile:run-ios ` in case I'm running it natively using the x-code it stop working!

[2021-04-23 17:42] teovillanueva commented on #39
Hello, this is still an issue @tocalvo. Have you find a way to get this done?

[2021-04-23 18:10] tocalvo commented on #39
Hi, i think yes, is still an issue (but im not so sure if is a nx bug, nextjs bug,  nx-nextjs plugin, or the react-native nx plugin bug  😅).
I just make a little fix adding the aliases on the nextjs build file. But its not really a clean solution 😪 , the good solution will be a clear way to send the aliases to the nextjs build process. I just add the aliases on the "node_module/next/dist/build/uti

[2021-04-26 10:17] BhaumikSurani commented on #30
I had same issue.
In my case issue with xcode path it contain **space**  so remove that space
[code]

[2021-05-05 14:19] b3coded commented on #36
@davisk4rpi maybe something related to:

https://github.com/react-native-community/cli/issues/1404

[2021-05-10 10:16] birkir opened #61 "reanimated not working"
It looks like it's impossible to get reanimated to work.

They use something called worklets, where babel will extract pieces of code into separate files that run in on a two different threads (UI/JS thread).

This is the error that **cannot be solved with thread suggestions** to fix them.

https://github.com/software-mansion/react-native-reanimated/issues/1777

[2021-05-12 07:49] michaelypes opened #62 "The current build breaks the latest version of nx."
When installing an app it overrides the latest versions of @nrwl/linter with an older one which breaks nx commands. When will it be updated?

Linter version now is 12.2.0 and the version it overrides it with is 10.4.4 which has a breaking change as the index file is not in the route for 10.4.4.

Thanks

Michael

[2021-05-15 21:45] zRelux commented on #39
Any update on this?

[2021-05-28 20:58] xiongemi commented on #57
do you mean you got a typescript error in the test-setup.ts file?

you could add `import { jest } from '@jest/globals';` at top of the file, it should resolve that issue.

[2021-06-07 15:13] xiongemi commented on #56
create a pr to fix this: https://github.com/nrwl/nx-react-native/pull/69

[2021-06-07 16:19] xiongemi commented on #58
it could be changed. submit a pr https://github.com/nrwl/nx-react-native/pull/65 to fix this.

[2021-06-09 05:14] iluvpy commented on #30
Can also be solve by Xcode ->locations->Command line tools

[2021-06-09 21:27] xiongemi commented on #55
it might be possible fixed in pr https://github.com/nrwl/nx-react-native/pull/68 for release 12.3.6

[2021-06-09 21:31] xiongemi commented on #62
submit a pr https://github.com/nrwl/nx-react-native/pull/66/files to upgrade nx to 12.3.6, which is in release 12.3.6. it should work now with latest nx version.

[2021-06-09 21:33] xiongemi commented on #49
fixed in pr https://github.com/nrwl/nx-react-native/pull/68/files which is in release 12.3.6

[2021-06-10 19:16] #25 closed

[2021-06-10 19:16] #62 closed

[2021-06-10 19:19] #55 closed

[2021-06-10 19:24] #58 closed

[2021-06-10 19:33] #49 closed

[2021-06-11 08:03] rborn opened #71 "creating a component with --js gives an error"
Hi,

I'm trying to make a component inside a library and adding ` --js` will lead to an error.
Without this argument all works fine

[code]

Creating it in an app works fine , both with and without --directory (of course without the --project argument)

Any idea?
Thank you 🤗

[2021-06-14 10:35] broerjuang opened #72 "Unable to resolve module generating using `generate @nrwl/react-native:lib <name>`"
<img width="444" alt="Screen Shot 2021-06-14 at 17 32 19" src="https://user-images.githubusercontent.com/7804066/121878998-8d733d80-cd36-11eb-9c48-891912f27ec2.png">

I am trying to import module from libs but it cannot resolve.

First, I check workspace.json, tsconfig.base.json, and nx.json and I think it seems alright:

[code]

vscode can resolve the module but when I trigger the run-android, bu

[2021-06-14 17:10] jaysoo commented on #71
We'll take a look, thanks for reporting.

[2021-06-14 18:12] xiongemi commented on #71
@rborn when creating a component using `--js` and `--export` options, it will expect the barrel `index` to be a js file as well. So you might need to change the index file under shared-ui library's src folder to be `index.js`.

[2021-06-14 18:20] opula commented on #72
Running into the same issue.  Any resolution?

[2021-06-14 18:24] xiongemi commented on #72
maybe kill the start command and run `nx start <your app name>` again, also reload the app in the device/simulator?

[2021-06-14 18:33] opula commented on #72
@xiongemi Your solution works.  However, when I run "nx run-ios my-app" then it doesn't work.  Any ideas why this is the case?

[2021-06-14 19:05] xiongemi commented on #72
What error do you get? maybe keep the terminal with start command running? or maybe reload the app: in the terminal running the start command, enter 'r' to reload the app; or in the simulator, press mac 'Command' + 'd' to launch the debug menu and click "Reload".

[2021-06-14 19:06] xiongemi commented on #56
it might be possible fixed in pr #68 for release 12.3.6. Now after this or, the @nrwl/workspace and @nrwl/react should be using version 12.3.6.

[2021-06-14 19:29] opula commented on #72
I've tried all of those.  Still get the same error.  For some reason it has access to the shared library directory when I run "nx start my-app" but not when I run "nx run-ios my-app".

![Simulator Screen Shot - iPhone 12 - 2021-06-14 at 21 15 19](https://user-images.githubusercontent.com/168711/121948439-8ad51000-cd57-11eb-8904-894624188d91.png)

[2021-06-14 21:07] rborn commented on #71
@xiongemi It seems to work indeed, thank you for clarifying this. Maybe a documentation note should be done about this (or I didn't see it?)
Thanks 🥰

[2021-06-15 04:28] xiongemi commented on #72
I will take a look at this bug. for now, maybe just use the workaround to run `nx start ...` before `nx run-ios ...`.

[2021-06-16 17:26] broerjuang commented on #72
Just asking the same solution to Slack channel. And I able to run the project on android. However, I haven't try to run on ios just yet.

The steps are:
1. create react-native lib under `libs/` or whatever your app layout
2. create a component using `@nrwl/react-native`

everything works fine.

However, changing the paths inside `tsconfig.base.json` from `*.ts` to `*.tsx` will throw errors. since

[2021-06-18 09:27] broerjuang commented on #72
Awesome thanks @xiongemi for the answer!

[2021-06-19 19:03] #72 closed

[2021-06-19 19:09] broerjuang commented on #39
Hi I am able to make Next JS working with React Native Web.

1. you have to change your `.babelrc` config to this

[code]

don't forget to install [babel-plugin-react-native-web](https://www.npmjs.com/package/babel-plugin-react-native-web)

also, you need to change your `next.config.js` to match this:

[code]

Now you can run the project. However, jest is still failed. Still find a way to solve it

[2021-06-19 19:12] broerjuang opened #78 "[Bugs] Having two or more RN apps in NX Workspace only trigger the first one"
Hi,

Thanks for the awesome plugin! I am having an issue when my workspace having more than one RN apps. Let's say, Apps A and B. and application A is created first.

When I try to run the application B. It kept starting the Application A. I try to reset the cache but still not working. is it coming from this `ensureNodeModulesSymlink`? or any workaround to be able to change the project or running

[2021-06-19 21:18] xiongemi commented on #78
thanks for reporting. i will take a look.

[2021-06-20 17:40] broerjuang commented on #78
I wish that I can help, will learn about how internals. Thanks @xiongemi for taking time.

[2021-06-21 03:22] xiongemi commented on #78
@broerjuang I have tried to create 2 apps locally and it seems to work fine for me.
To run an app in ios simulator, i run `nx start app1` in 1 terminal ad run `nx run-ios app1` and it launches app1.
Then i run `nx start app2` and `nx run-ios app2` and it launches app2.
Do you have a GitHub repo i could take a look at?

[2021-06-21 15:07] broerjuang commented on #78
Sorry the Github repo is private. I try to delete the apps and recreate it again. It seems alright. However one thing that differs when I re-create the new app is only display name. I will try it again (maybe tomorrow) and let you know if I can reproduce the issue.

[2021-06-23 15:13] xiongemi commented on #78
ok. i don't think displayName would affect the build. usually for `ensureNodeModulesSymlink` error, maybe just need to delete node_modules folder under your app, not the one from the project root, and try to run on the app again. let me know if you still run into the same issue.

[2021-06-24 20:01] broerjuang commented on #78
Will do and let you know. For now, I think that I am closing the issue since I can't reproduce. Sorry bothering you.

[2021-06-24 20:01] #78 closed

[2021-06-25 15:21] #56 closed

[2021-06-25 15:23] #57 closed

[2021-06-29 19:19] xiongemi commented on #54
i have tried with the latest nx-react-native version, which, is 12.3.6, it seems fine. I could do something like `import { name } from '../app.json';`.

[2021-06-29 19:19] #54 closed

[2021-06-30 04:42] #71 closed

[2021-07-02 15:27] verycosy opened #82 "Unable to resolve module when import react:lib component"
I tried this [article](https://blog.nrwl.io/introducing-react-native-support-for-nx-48d335e90c89)s' instruction.
It works well when just create new react native app.
But when I generate react:lib for sharing components, error occurred.

[code]
lib folder is successfully generated, but nx project can't resolve it.

[2021-07-05 12:06] peterlazar1993 commented on #61
@birkir Were you able to make any progress on this?

I have tried the suggestions on https://github.com/software-mansion/react-native-reanimated/issues/1777 with no luck.

[2021-07-05 21:41] birkir commented on #61
Yeah no luck for me, I've been wondering if moving RN outside nx is the way to go forward. Too many issues encountered so far.

[2021-07-05 21:45] peterlazar1993 commented on #61
@birkir  I may have found a fix fo this. What is your app name?

On an unrelated note, I am evaluating NX for a new react native project. Any chance you could put up a summary of what issues you've encountered?

[2021-07-05 21:58] birkir commented on #61
Understood. Do you know the culprit, or what module is causing the issue?

- Hard to debug issue related to "resolutions" in the root (https://github.com/facebook/metro/issues/678)
- We are manually linking all dependencies, auto linking is just not working, especially for second level package.json modules
- Bloated root node_modules for those who only want to work on web parts of the project. We

[2021-07-05 22:21] peterlazar1993 commented on #61
@birkir Thank you so much for this. Extremely useful.

Regarding the issue itself, please see this repo https://github.com/peterlazar1993/sample
This repo builds fine and I was able to run reanimated code with `worklets`. I highly suspect the app name is the culprit. I shall validate by adding another app to this monorepo like `demo-test`.

Couple of caveats:
- nx-react-native used is built from m

[2021-07-05 22:54] peterlazar1993 commented on #61
Based on the sample repo, I believe this issue will be solved in the next release!

[2021-07-06 16:55] verycosy commented on #82
I think this issue is duplicated of https://github.com/nrwl/nx-react-native/issues/72

[2021-07-06 16:55] #82 closed

[2021-07-08 16:19] ianbby opened #84 "Support for build-ios?"
Hi team,

The readme seems to suggest there is a `build-ios` command - https://github.com/nrwl/nx-react-native#commands

But I'm not able to find or use that executor. Are there plans to add a `build-ios` command similar to the existing `build-android` ? https://github.com/nrwl/nx-react-native/tree/main/packages/react-native/src/executors/build-android

In our CI setup, we're not particularly inte

[2021-07-08 21:50] rengil commented on #44
Any update on this? I am having a similar issue.

If I live like this

[code]
I get an issue without a proper log. Basically saying that `Script-00DD1BFF1BD5951E006B06BC.sh ` failed

If I update the node_modules 's path

[code]
I got them the issue that main.jsbundle is not found.

[2021-07-12 21:04] xiongemi commented on #84
the `build-ios` and `build-android` command is for e2e tests. I think you could try the command `nx bundle-ios <your app name>`. It builds the JavaScript bundle for offline use. It is a pass through to react native bundle command (https://github.com/react-native-community/cli/blob/master/docs/commands.md#bundle) with platform=ios. If you  want to build with code, you could try the command `xcodebu

[2021-07-17 09:02] joemckie opened #86 "iOS fails to run on the latest version"
There seems to be an issue with the latest version of this package (which is using a release candidate version of `react-native`) which causes `run-ios` to fail with the following error:

[code]

I managed to fix this by installing the previous version (12.3.6) and generating the app using that. Bumping the version up to `12.5.0` afterwards causes no issues.

I'm not entirely sure what is causing

[2021-07-17 09:04] joemckie commented on #86
TLDR for people looking for a quick fix: Generate your app using `12.3.6`. You can bump the version afterwards if you like.

[2021-07-23 22:19] pipozoft commented on #72
I'm still experiencing this issue, even in a brand new project running the latest. If I import a component from another library it can not resolve the depency. The build command passes but the test doesnt. Please advice and th

[2021-07-24 04:25] xiongemi commented on #86
are you using yarn?
you might need to add in package.json:
[code]
 basically, @react-native-community/cli has dependency of metro “^0.66.0”, which installs 0.66.1

[2021-07-31 16:46] developer239 opened #87 "Running pod install failed, see above."
[code]

POD version:
[code]

Command-line tools path:
[code]

XCode configuration:
![Screenshot 2021-07-31 at 18 46 32](https://user-images.githubusercontent.com/14946081/127746724-822c7036-e94a-4abe-8098-22ea8ae407e3.png)

[2021-08-04 09:47] michaelypes commented on #87
I'm having the same issue on a clean build

[2021-08-06 01:22] xiongemi commented on #41
the command `nx ensure-symlink myapp` has been added

[2021-08-06 01:22] #41 closed

[2021-08-06 01:48] xiongemi commented on #87
i create an app out of the box and it seems fine for me: https://github.com/xiongemi/nx-react-native-12-5-0

what errors are you getting?
maybe run `nx ensure-symlink <app>`

[2021-08-06 15:03] justinhandley opened #90 "How do we upgrade react native?"
Hi There,

I was running into some remote build issues, and some of the problems I was having seem to be resolved in more recent versions of react native.  I went to try and upgrade react-native, but neither of their upgrade paths really work, as the version of react-native I have installed doesn't have the file set they assume it does (for instance, the version of gradle for android is not the sa

[2021-08-08 14:20] wilzad commented on #82
I don't think this is an duplicate of the mentioned issue. I am facing the same issue. I have created a react library which works fine when imported into an react application. but i am not able to use the same inside a react native application. I would like to use the same library inside react web and react native. Is that possible ?

[2021-08-10 19:47] xiongemi commented on #90
update you update the version in package.json, you might still need to change some files manually as specified https://react-native-community.github.io/upgrade-helper/

[2021-08-11 19:46] guiccbr commented on #87
I was having that problem with mac m1 too. In my case it was trying to use cocoapods for arm, and not the one that is used by my rosetta terminal.

To make it work:
- I have a terminal running with rosetta
- Then used `brew install brew-gem` and `brew gem install cocoapods`

After that, everything worked smoothly.

[2021-08-11 23:13] vcardins opened #91 "Cannot find module '@angular-devkit/core/src/workspace/core'"
Hello there!
Trying to create a react-native application but I'm getting a weird error
The command that I'm running : `nx generate @nrwl/react-native:application --name=mobile --no-interactive --dry-run`

`Cannot find module '@angular-devkit/core/src/workspace/core'
Require stack:
- /Users/vcardins/Projects/Momentum/xapp/node_modules/@nrwl/tao/src/commands/ngcli-adapter.js
- /Users/vcardins/Projec

[2021-08-12 13:53] guiccbr opened #92 "Jest cannot resolve imports on fresh workspace (12.5.0)"
Hey everyone, hello.

I was having a problem after migrating to 12.5.0, where Jest tests would not pass if the tested component imported libs from other directories. I thought that it could be something with my workspace so I started a new one from scratch, but I'm still seeing the same problem.

These are the steps to reproduce:

[code]

Then I just went to my-library and created a simple View an

[2021-08-12 16:05] xiongemi commented on #92
add `resolver: '@nrwl/jest/plugins/resolver',` to jest.config.js like:
[code]

[2021-08-12 17:40] guiccbr commented on #92
Thank you, @xiongemi, that works!

[2021-08-19 12:11] verycosy opened #93 "Exclude dependency when exist two of react native projects"
I created two of react native projects in NX workspace like this:
1) apps/first-app
2) apps/second-app

Both of Projects are running well, before install `react-native-permissions`

[In this docs](https://github.com/zoontek/react-native-permissions), when I install `react-native-permissions` I have to add permissions_path to Podfile.
It solves **No permission handler detected error**.

Let's say I

[2021-08-23 14:47] guiccbr commented on #92
@xiongemi, the fix that you proposed solved the problem, however I have another one now.

I need to use transformIgnorePatterns on my jest config, but whenever I add it to the configs, I'm getting a "regeneratorRuntime is not defined error" on my tests.

I tried to solve by by installing regenerator-runtime and importing on `test-setup.ts`, but it doesn't have any effect.

This is my jest config:

[2021-09-04 11:56] verycosy commented on #93
I think it's duplicated of https://github.com/nrwl/nx/issues/1777

[2021-09-04 11:56] #93 closed

[2021-09-04 12:16] justinhandley commented on #44
So, in the end this was because I wasn't building my bundle - I was using default actions, which do a yarn install, but that  is not what we need.  We need to build the bundles. The yarn action I am using now is

`   - content: "#!/usr/bin/env bash\n# fail if any commands fails\nset -e\n# debug
            log\nset -x\nyarn install --ignore-engines\n# Sync dependencies\nyarn
            nx build-a

[2021-09-06 00:32] gioragutt commented on #35
any update on this?

[2021-09-12 02:51] likern commented on #61
Hello 👋 guys! Thanks for insights! Could you give summary - do you recommend using nx for React Native?

I want to support 2 RN packages in monorepo (heavily using reanimated 2) and example app for testing these packages. Looking for lerna / yarn  workspaces / rush / nx options.

What do you recommend? Lerna?
I want as seemless experience as possible, ideally without customer resolvers and etc.

[2021-09-16 17:19] omairahmed63 commented on #41
how to install react-navigation inside nx native app and update ios pods? I did the following and getting errors when I am updating pods:
npm install @react-navigation/native
cd app/my-native/ios
npx pod-install or pod install
error = [!] Invalid `Podfile` file: cannot load such file

PLEASE HELP

[2021-09-17 20:51] bfischer1121 commented on #61
@peterlazar1993 's steps above work. I did the following...
- Rename `apps/nativeappname/.babelrc` to `apps/nativeappname/babel.config.json`
- `yarn remove react-native-reanimated && yarn install -E react-native-reanimated` // -> v2.2.0
- Delete `node_modules/.cache`
- `yarn nx run-ios nativeappname`

[2021-09-18 11:30] bfischer1121 commented on #61
Also had to manually import reanimated (`import 'react-native-reanimated`), otherwise the compiled worklets would be undefined. Not sure why that was necessary as it's not in their installation docs.

[2021-09-22 18:53] AlexJWayne commented on #4
I've been using that community plugin and been having [some issues](https://github.com/JacopoPatroclo/nx-react-native-expo/issues/21) I'm looking at co-opting the official react native plugin for this, but it's a bit tricky to figure out exactly how to modify the command and import an existing expo codebase.

Are there any docs or guides out there on how to get this all to work properly?

[2021-09-24 15:15] xiongemi commented on #91
you could install `@angular-devkit/core` or upgrade to nx/react-native version 12.9.0

[2021-09-25 19:36] xiongemi commented on #90
or you could upgrade @nrwl/react-native by running `nx migrate latest` to update all packages start with `@nrwl` or `nx migrate @nrwl/react-native` to update `@nrwl/react-native`. it will update react native for you.

[2021-09-28 15:05] guiccbr commented on #92
For anyone that has the problem from my last comment, the solution here was to remove `<rootDir>` from transformIgnorePatterns, and everything started to work well again.

Thanks!

[2021-09-28 15:05] #92 closed

[2021-09-29 03:01] joe307bad commented on #61
I have tried the suggestions here, and also cannot use reanimated + nx react native. Here is the repo I am working in: https://github.com/joe307bad/past

I keep getting an error
[code]

[2021-09-30 02:51] joe307bad commented on #61
I resolved my issue. I was running into a weird glitch where it seemed my bundler kept opening up in a different context (in a different RN project on my laptop). Killing the process of the bundler, running `nx run <project name>`, and then running `nx run-android <project name>` resolved it for me.

[2021-10-04 03:05] joe307bad commented on #61
With my previously mentioned steps, I was able to run and use `react-native-reanimated@2.3.0-beta.1` with `@nrwl/react-native@12.3.6`

[2021-10-05 23:14] omairahmed63 commented on #39
Still new to next js and to nx.. I am trying to implement navigations to react native web project.. I am getting the following error:

`ERROR in /Users/omairsyed/dev/acme/node_modules/react-native/index.js 14:7
Module parse failed: Unexpected token (14:7)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.or

[2021-10-09 17:40] isotopeee commented on #43
Did not work for me. I'm on `nrwl/*` version `12.9.0` BTW.

Here's my `metro.config.js`:

[code]

Here's how I'm trying to import the SVG:

[code]

Here's how the file structure looks like:
[code]

Here's how the error looks like:
[code]

Still trying to figure this out. 🤯

[2021-10-13 10:07] mpkelly opened #95 "Unable to import react-native-web-based library into React DOM project after following tutorial"
Hi,

I followed this tutorial

https://blog.nrwl.io/introducing-react-native-support-for-nx-48d335e90c89

The only thing I changed are names. Everything else is as per the tutorial. Is that article still valid for react-native-web libraries as of today? As I get the following error when trying to import the shared library into the web project:

[code]

My shared library's Babel config:

[code]
I h

[2021-10-16 12:59] mpkelly commented on #95
Ok, I have managed to get this working. I will leave this issue open though as a way to remind the authors to update their docs and tutorial. The react-native-web library is very common these days in mono repos and support should ideally be baked into the plugin.

To anyone else who has this issue, here's what you need to change in the tutorial

https://blog.nrwl.io/introducing-react-native-suppor

[2021-10-26 15:00] #95 closed, assigned to nobody

[2021-10-31 17:47] everettblakley commented on #87
I was facing this issue, and I figured out it was because of having multiple Ruby versions installed. I use [chruby](https://github.com/postmodern/chruby) to manage Ruby versions (though I'm sure [rvm](https://rvm.io/) would do the same). I simply put a `.ruby-version` file in the root of my project to ensure that the correct ruby version was being used

On the command line, with chruby installed

[2021-11-19 09:36] raymondji commented on #29
Bump, I'm doing the above and running `tsc` through `@nrwl/workspace:run-commands`, but:
- A) not sure what is the right way to use `tsc` with the `tsconfig.app.json` and `tsconfig.spec.json` setup. If I do `tsc -b tsconfig.json`, any type errors show up twice.
- B) `run-commands` removes the formatting from the output of `tsc`

Appreciate if you have any suggestions! :)

[2021-11-24 11:02] broerjuang opened #96 "Test Failed for new Project"
Trying to installing via nx react-native and then failed because missing deps when trying to run test

<img width="921" alt="Screen Shot 2021-11-24 at 18 02 03" src="https://user-images.githubusercontent.com/7804066/143226558-0d5ec903-4f13-4b47-8986-a9d757a21606.png">

It requires me to install lot of `@babel` to run the test. Any workaround to solve this?

[2021-11-25 06:06] socialchair-June opened #97 "Unable to resolve module error for new react native project"
steps to reproduce- (mac)
create a new react native application and run
npx create-nx-workspace --preset=react-native
npx nx run socialchair-app:run-ios

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Error</title>
</head>
<body>
<pre>Error: Unable to resolve module ./apps/socialchair-app/src/main from /Users/bob/learn/monorepo/checko/packages/socialchairapp/.: <br><br>None

[2021-11-25 07:00] socialchair-June commented on #97
restarting machine and created a new project solved the problem. iam guessing there was some old *^%^^ running interfering with this project.

[2021-11-25 07:00] #97 closed

[2021-11-25 13:00] mokoshi commented on #40
When you migrate existing RN projects, don't forget to change the main module name which is specified in native codes.
(`getJSMainModuleName()` in `MainApplication.java` on Android, and `jsBundleURLForBundleRoot` in `AppDelegate.m` on iOS.)
This was my case 😅

[2021-11-30 16:27] lorenamelor commented on #72
I have the same error here.

[2021-12-05 12:20] jgf5013 opened #98 ""RNSScreenStackHeaderConfig" was not found in the UIManager"
A few folks using Nx are getting the react-navigation mentioned [here](https://github.com/react-navigation/react-navigation/issues/9981).

Error
[code]

package.json (showing relevant parts only)
[code]

App.tsx
[code]

[2021-12-07 12:11] lorenamelor opened #99 "How to configure to build only one flavor for android?"
I have an android app with different flavors configured and I would like to have a parameter when running `npx nx build-android myapp` to specify which one I want to build the app. It is possible ?

[2021-12-09 21:43] Evanion commented on #61
I've tried the solutions mentioned here with the following versions, and the issue persists :/
"@nrwl/react-native": "13.2.3",
"react-native-reanimated": "2.3.0",

[2021-12-13 15:11] alcir-junior-caju commented on #98
I have the same problem.

[2021-12-13 21:07] nzcodarnoc commented on #98
I've been having the same error too, this solved it for me:

https://stackoverflow.com/questions/67556606/invariant-violation-requirenativecomponent-rnsscreen-was-not-found-in-the-u/67956805#67956805

TL;DR:
Normally these pods would be linked automatically but because of monorepo we have to tell the build system about our novel monorepo directory structure

[2021-12-15 04:45] xiongemi commented on #98
maybe in the app's package.json (not the workspace root's package.json), add `"RNSScreenStackHeaderConfig": "*"` in the dependencies, it should autolink for you.

[2021-12-15 23:34] nzcodarnoc commented on #98
Thanks @xiongemi that insight lead the me trying the following which solved this error for me.

Adding the following packages in the app's package.json (not the workspace root's package.json) has solved the problem for both iOS and Android.

    "@react-navigation/native": "*",
    "@react-navigation/native-stack": "*",
    "react-native-screens": "*",
    "react-native-gesture-handler": "*",

[2021-12-17 03:18] everettblakley commented on #61
For me, the steps from @bfischer1121 as well as a `pod install --repo-update` and `Product > Clean Build Folder` in XCode worked to get it running on iOS

[2021-12-17 10:34] aqos156 opened #100 "[Feature Request] Storybook generator"
Are there any plans for adding support for storybook?

[2021-12-17 19:34] shaikhrahil commented on #35
After going through a number of solutions online, a lot of documentation , and none of them working out, I found something  that works for me. Please feel free to update / improve on it

So instead of mocking at the top, I started creating a mockRender variable and run it beforeEach. Code example:

[code]

This is a sample of what I have implemented. Hope it helps out any one stuck with this ✌

@g